html {
  font-size: max(1ex, 5vmax);
  font-family: monospace;
}

body {
  display: flex;
  flex-flow: column;
  margin: auto;
}

main {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-weight: 500;
}

:focus {
  outline-width: thick;
  outline-style: dotted;
}
